body{
    background-color: rgb(0, 0, 0);
    background-size: cover;
    height: 3500px;
}
#header{
    height:700px;
   
    background-image:linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68)), url(https://i.redd.it/zjgs096khv591.jpg);

    background-size: cover;


}
img{
    position: absolute;
    margin-bottom: 180px;
    height: 150px;
    width: 150px;
    margin-left: 130px;
}
#footer{
    display: flex;
    height:300px;
    
    justify-content: right;
}

    
    
    
   

#lang{
    background-color: rgb(0,0,0);
    height:30px;
    width:20px;
    color: white;
    position: relative;
    right: 300px;
    margin-right: 80px;
    margin-top: 60px;
    border-radius: 30px;
    border-style: 4px solid rgb(255, 255, 255);
    

}
#sign{
    background-color: rgb(255, 0, 0);
    display: inline;
    height: 20px;
    width:10px;
    
    color: white;
    position: relative;
    
    right: 250px;
    border-radius: 20%;
    border-style: 2px solid red;
    
    margin-left: -10px;
    margin-top: 58px;
}
#signi {
    background-color: rgb(255, 0, 0);
    font-weight: 750;
    font-size: medium;
    color: white;
    height: 30px;
    width:90px
    
    

    
    
    

}
select{
    background: transparent;
    font-weight: 480;
    font-size: larger;
    text-align: center;
    color: white;
    height: 29x;
    width:120px
    
    
}
#content{
    height: 900px;
 

}
h1{
    color: rgb(255, 255, 255);
    font-stretch: narrower;
    font-weight: 900;
   
    text-align: center;
    position: relative;
    

    bottom: 80px;
    margin-top: 0;
    margin-bottom: 0;
   
    font-size: 50px;
    font-style: bold;
}
h4{
    position: relative;
    bottom: 100px;
    
 
    font-size: 18px;
    
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 80px;
}
h5{
    color: rgb(255, 255, 255);
    text-align: center
    
    ;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    bottom: 137px;
}
#login{
    display: flex;
    justify-content: center;


}
input{
    position: relative
    ;
    border-style: 40px solid black;
    border-radius: 5%;
    color: gray;
    background-color: rgb(0, 0, 0,0.7);
    bottom:720px;
    width: 380px;
    height:48px
    ;
    margin-right: 60px;
    
}
#get{
    background-color: red;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 90;
    font: bolder;
    border-style: 6px solid rgb(245, 7, 7);
    border-radius: 6%;
    position: relative
    ;
    bottom: 723px;
    right: 50px;
    height:57px
    ;
    width: 240px;
   
}
#second{
   
  
    height: 1200px;

    
}
#trend{
    color: white;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
}
#selec{
    margin-left: 100px;
    background-color: rgba(67, 65, 65, 0.9);
    width: 90px;
    height: 35px;
  

   
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
    bottom: 20px;
    margin-bottom: 40px;
    color:white
    
    
    
    
}
#sel{
    position: relative
    
    
    ;
   
    background-color: rgba(68, 67, 67, 0.9);
    height: 35px;
    bottom: 20px;
    
}
#container{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    justify-items: left;
  flex-direction: row;
  
}



#box1{
    object-fit: cover;
  image-resolution: 230px 170px;
    height: 250px;
    width: 170px;
    transition-property: all;
    transition-duration: infinite;
    transition-timing-function: ease-in;
    transition-delay: 3s;

   
}
#im1{
    margin-left: 20px;
    height: 235px;
    width: 170px;
}
#im2{
    margin-left: 20px;
    height: 235px;
    width: 170px;
}
#im3{ margin-left: 20px;
    height: 235px;
    width: 170px;
}
#im4{ margin-left: 20px;
    height: 235px;
    width: 170px;
}
#im5{ margin-left: 20px;
    height: 235px;
    width: 170px;
}
#im6{ margin-left: 20px;
    height: 235px;
    width: 170px;
}
#box1 :hover{
    height: 250px;
    width: 179px;
 }
#box2{
   
    height: 215px;
    width: 170px;
    transition-property: all;
    transition-duration: infinite;
    transition-timing-function: ease-in;
    transition-delay: 3s;

}
#box2 :hover{
    height: 250px;
    width: 179px;
 }
#box3{
   
    height: 215px;
    width: 170px;
    transition-property: all;
    transition-duration: infinite;
    transition-timing-function: ease-in;
    transition-delay: 3s;


 
}
#box3 :hover{
    height: 250px;
    width: 179px;
 }
#box4{
  
    height: 215px;
    width: 170px;
    transition-property: all;
    transition-duration: infinite;
    transition-timing-function: ease-in;
    transition-delay: 3s;

  
}
#box4 :hover{
    height: 250px;
    width: 179px;
 }
#box5{
    
    height: 215px;
    width: 170px;
    background-size: 100%;
    transition-property: all;
    transition-duration: infinite;
    transition-timing-function: ease-in;
    transition-delay: 3s;

    
    
   
   

}
#box5 :hover{
    height: 250px;
    width: 179px;}

#box6{
   
    height: 215px;
    width: 170px;
    transition-property: all;
    transition-duration: infinite;

    transition-delay: 6s;


}
#box6 :hover{
    height: 250px;
    width: 179px;
 }

 #why{
    color: white;
    margin-top: -30px;
    margin-left: 100px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
    font-weight: 600;

 }
 #container2{
    height: 350px;
    display: flex;
    
    justify-items: left;
  flex-direction: row;
  
}
#box7{
    color: white;
    background-image: url(https://w0.peakpx.com/wallpaper/990/831/HD-wallpaper-dark-blue-gradient-aurora-blue-background-colors-dark-dark-blue-gradient-plain-solid-thumbnail.jpg);
    background-size: cover;
    margin-left: 80px;
   margin-top: 15px;
   height: 230px;
    width: 260px;
    background-color: blueviolet;
}
#tv{
    
    position:relative ;
    bottom: -160px;
    left: 20px;
    font-size: 40px;
}
#box8{
    background-image: url(https://w0.peakpx.com/wallpaper/990/831/HD-wallpaper-dark-blue-gradient-aurora-blue-background-colors-dark-dark-blue-gradient-plain-solid-thumbnail.jpg);
    background-size: cover;
    margin-left: 35px;
   margin-top: 15px;
   height: 230px;
    width: 260px;
    background-color: blueviolet;
}

#tv{
    color: rgb(148, 6, 167);
    text-shadow:-4px 4px red;
    position:relative ;
    bottom: -160px;
    left: 20px;
    font-size: 40px;}
    #download{
        
         color: blueviolet;
         text-shadow: -5px 5px red;
        position:relative ;
        bottom: -140px;
        left: 65px;
        font-size: 40px;}
        #party{
            color: rgb(86, 2, 83);
            text-shadow: -4px 4px rgb(232, 2, 79);
    
            position:relative ;
            bottom: -90px;
            left: 89px;
            font-size: 40px;}
            #smile{  color: rgb(86, 2, 83);
                text-shadow: -4px 4px rgb(232, 2, 79);
        
                
                position:relative ;
                bottom: -70px;
                left: 60px;
                font-size: 40px;}

#box9{
    background-image: url(https://w0.peakpx.com/wallpaper/990/831/HD-wallpaper-dark-blue-gradient-aurora-blue-background-colors-dark-dark-blue-gradient-plain-solid-thumbnail.jpg);
    background-size: cover;
    margin-left: 35px;
   margin-top: 15px;
   height: 230px;
    width: 260px;
    background-color: rgb(138, 43, 226,0.6);
}
#box10{
    background-image: url(https://w0.peakpx.com/wallpaper/990/831/HD-wallpaper-dark-blue-gradient-aurora-blue-background-colors-dark-dark-blue-gradient-plain-solid-thumbnail.jpg);
    background-size: cover;
    opacity: 0.9;
    margin-left: 35px;
   margin-top: 15px;
   height: 230px;
    width: 260px;
    background-color: blueviolet;
}
#e{font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
    
    
    
    ;
    font-size: 20px;
    margin-left: 18px;
    margin-bottom: -20px;
}
#w{
    font-weight: 300;
    padding-bottom: 40px;
    margin-bottom: 100px;
    margin-left: 15px;
    color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
}
#s{font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
    ;
    color: white;
    font-size: 20px;
    margin-left: 18px;
    margin-bottom: -20px;
}
#t{
    font-weight: 300;
    padding-bottom: 40px;
    margin-bottom: 100px;
    margin-left: 15px;
    color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
}
#u{font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
    
    
    
    
    ;
    color: white;
    font-size: 20px;
    margin-left: 18px;
    margin-bottom: -20px;
}
#v{
    font-weight: 300;
    padding-bottom: 40px;
    margin-bottom: 100px;
    margin-left: 15px;
    color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
}
#x{font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
    
    
    
    ;
    color: white;
    font-size: 20px;
    margin-left: 18px;
    margin-bottom: -20px;
}
#y{
    font-weight: 300;
    padding-bottom: 40px;
    margin-bottom: 100px;
    margin-left: 15px;
    color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
}
#b{
    color: white;
    margin-top: -30px;
    margin-left: 100px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
    font-weight: 600;}
.freq {
    width: 1200px;
    margin-bottom: 5px;
    height: 80px;
   margin-left:100px ;
   text-align: left;
   background-color: rgb(51, 51, 51);
   color: white;
   font-size: 30px;
   justify-content: center;
   padding-top: 22px;
   
  
}
.freq :hover{
    width: 1200px;
    margin-bottom: 5px;
    height: 80px;
   margin-left:100px ;
   text-align: left;
   background-color: rgb(71, 71, 71);
   color: rgb(251, 250, 250);
   font-size: 30px;
   justify-content: center;
   padding-top: 22px;
   
}

#k{
    position: relative;
    top: -30px;
    padding-top: -200px;
    margin-left: 1120px;
    margin-top:  -40px;
    font-size: 40px;
    font-weight: 0;
}
#l{
    position: relative;
    top: -30px;
    padding-top: -200px;
    margin-left: 1120px;
    margin-top:  -40px;
    font-size: 40px;
    font-weight: 0;
}
#m{
    position: relative;
    top: -30px;
    padding-top: -200px;
    margin-left: 1120px;
    margin-top:  -40px;
    font-size: 40px;
    font-weight: 0;
    text-align: justify;
}
#n{
    position: relative;
    top: -30px;
    padding-top: -200px;
    margin-left: 1120px;
    margin-top:  -40px;
    font-size: 40px;
    font-weight: 0;
}
#o{
    position: relative;
    top: -30px;
    padding-top: -200px;
    margin-left: 1120px;
    margin-top:  -40px;
    font-size: 40px;
    font-weight: 0;
    font-weight: lighter;
}
#p{
    position: relative;
    top: -30px;
    padding-top: -200px;
    margin-left: 1120px;
    margin-top:  -40px;
    font-size: 40px;
    font-weight: 0;
}
#q{
    position: relative;
    top: -30px;
    padding-top: -200px;
    margin-left: 1120px;
    margin-top:  -40px;
    font-size: 40px;
    font-weight: 0;
}
#last3{
    width: 600px;
    margin-left: 300px;
    margin-top: 580px;
    background-color: rgb(35, 35, 35);
    font-weight: 300;
}
#last{
    margin-right: 30px;
    margin-top: 210px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#getl{
    background-color: red;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 60;
    font: bolder;
    border-style: 6px solid rgb(245, 7, 7);
    border-radius: 6%;
    position: relative
    ;
    bottom: 717px;
    right: 50px;
    height:60px
    ;
    width: 240px;
}
#footer{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(166, 165, 165);
    text-align: left;
    position: relative;
    bottom: 600px;
    right: 1320px;}
    
   
   #footer2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(166, 165, 165);
    position: relative;
    bottom: 900px;
    left: 190px;
    font-size: 18px;
   }
   #f{
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(166, 165, 165);
    position: relative;
    bottom: 830px;
    left: -93px;
    font-size: 18px;
   }
   #h{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(166, 165, 165);
     position: relative;
     bottom: 830px;
     left: 120px;
     font-size: 18px;
     margin-left: 10px;
    }
    #c{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(166, 165, 165);
         position: relative;
         bottom: 830px;
         left: 300px;
         font-size: 18px;
        }
        #media{
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(166, 165, 165);
             position: relative;
             bottom: 830px;
             left: 480px;
             font-size: 18px;
           
            }
   
            #inv{
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(166, 165, 165);
                 position: relative;
                 bottom: 810px;
                 left: 94px;
                 font-size: 18px;}
                 #job{
                    font-family: Arial, Helvetica, sans-serif;
                    color: rgb(166, 165, 165);
                     position: relative;
                     bottom: 810px;
                     left: 210px;
                     font-size: 18px;}
                     #way{
                        font-family: Arial, Helvetica, sans-serif;
                        color: rgb(166, 165, 165);
                         position: relative;
                         bottom: 810px;
                         left: 448px;
                         font-size: 18px;}
                         #term{
                            font-family: Arial, Helvetica, sans-serif;
                            color: rgb(166, 165, 165);
                             position: relative;
                             bottom: 810px;
                             left: 574px;
                             font-size: 18px;}
                             #pri{
                                font-family: Arial, Helvetica, sans-serif;
                                color: rgb(166, 165, 165);
                                 position: relative;
                                 bottom: 785px;
                                 left: 94px;
                                 font-size: 18px;}
                                 #coo{
                                    font-family: Arial, Helvetica, sans-serif;
                                    color: rgb(166, 165, 165);
                                     position: relative;
                                     bottom: 785px;
                                     left: 295px;
                                     font-size: 18px;}
                                     #cor{
                                        font-family: Arial, Helvetica, sans-serif;
                                        color: rgb(166, 165, 165);
                                         position: relative;
                                         bottom: 785px;
                                         left: 403px;
                                         font-size: 18px;}
                                         #con{
                                            font-family: Arial, Helvetica, sans-serif;
                                            color: rgb(166, 165, 165);
                                             position: relative;
                                             bottom: 785px;
                                             left: 465px;
                                             font-size: 18px;}
                                             #speed{
                                                font-family: Arial, Helvetica, sans-serif;
                                                color: rgb(166, 165, 165);
                                                 position: relative;
                                                 bottom: 755px;
                                                 left: 94px;
                                                 font-size: 18px;}     
                                                 #legal{
                                                    font-family: Arial, Helvetica, sans-serif;
                                                     color: rgb(166, 165, 165);
                                                     position: relative;
                                                     bottom: 755px;
                                                     left: 265px;
                                                     font-size: 18px;}   
                                                     #only{
                                                        font-family: Arial, Helvetica, sans-serif;
                                                         color: rgb(166, 165, 165);
                                                         position: relative;
                                                         bottom: 755px;
                                                         left: 439px;
                                                         font-size: 18px;}                                     
                                                         #lastlang{
                                                            font-family: Arial, Helvetica, sans-serif;
                                                             color: rgb(253, 252, 252);
                                                             position: relative;
                                                             bottom: 650px;
                                                             left: -219px;
                                                             font-size: 18px;}     
                                                             pre{
                                                                font-family: Arial, Helvetica, sans-serif;
                                                                color: rgb(166, 165, 165);
                                                                font-size: 18px;
                                                                position: relative;
                                                                bottom: 620px;
                                                              margin-left: 90px;

                                                            }
                                                                 #lost{
                                                                    height: 28px;
                                                                    font-family: Arial, Helvetica, sans-serif;
                                                                     color: rgb(253, 252, 252);
                                                                     position: relative;
                                                                     bottom: 3397px;
                                                                     left: 1180px;
                                                                     background-color: rgb(0, 0, 0,0.7);
                                                                     font-size: 18px;}   
                                                                     #lastbutton{
                                                                        height: 32px;
                                                                        font-weight: 900px;
                                                                        font-family: Arial, Helvetica, sans-serif;
                                                                     color: rgb(253, 252, 252);
                                                                     position: relative;
                                                                     bottom: 3426px;
                                                                     left: 1312px;
                                                                     font-size: 18px;
                                                                     background-color: red;
                                                                     
                                                                  
                                                                    }   
                                                                     